#container {
	width: 100%;
}
#content {
    width: 1400px;
    margin: 50px auto;
}
#board_bar {
	height: 40px;
	width: 100%;
	background-color:  #2E9BFF;
}
#board_bar div {
	width: 1400px;
	height: 100%;
	margin: 0 auto;
	padding: 10px 0;
}
#board_bar span {
	color: white;
	font-weight: bold;
	font-size: 1.2em;
}
#wrap_hm {
    width: 100%;
    padding: 30px;
    border: none;
    margin-bottom: 15px;
}
#wrap_hm hr {
	width: 100%;
	float: clear;
}
#ch_title {
	 width: 100%;
}
#ch_title span {
	 font-size: 1.5em;
	 display: inline-block;
}
#ch_title span:first-child {
	margin-right: 20px;
	font-size: 1.2em;
}
#ch_id_date > span {
	font-size: 1.0em;
	display: inline-block;
}
#ch_id_date {
    margin-top: 10px;
}
#wrap_grade {
	float: left;
	margin-bottom: 10px;
}
#wrap_count {
	float: right;
}
#wrap_count > span {
	margin: 0 5px;
	font-size: 1.0em;
}
.gradeimg {
 	width: 18px;
 	height: 18px;
 	margin-left: 5px;
}
#wrap_grade > span {
	font-size: 1.2em;
}
#content hr {
    border-color: rgb(128, 128, 128);
    margin: 10px 0 20px 0;
}
#content_main {
	min-height: 500px;
	padding: 20px 10px;
}
#comment {
    margin: 0 auto;
    width: 100%;
}
#comment p {
	font-size: 1.3em;
	margin: 30px 0;
}
#comment span {
    margin: 10px 0;
    display: block;
}
#comment_list {
	margin-top: 20px;
	padding: 10px;
}
.comments {
	margin: 10px 0;
}
.comments div:first-child {
	max-width: 150px;
	font-size: 1.2em;
}
.comments div:nth-child(2) {
	margin: 10px;
	padding: 10px;
/* 	border-top: 1px solid  rgba(128, 128, 128, 0.2); */
}
#comment_write{
	width: 100%;
	height: 100px;
}
#comment_write  textarea {
    resize: none;
    padding: 10px;
    overflow-y: hidden;
    width: 90%;
    float: left;
    height: 100px;
}
#comment_write  button {
	padding: 8px;
	background-color: #2E9BFF;
	border: none;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	width: 10%;
	float: left;
	height: 100px;
}
#rcm {
	width: 100%;
	margin: 20px 0;
}
#rcm span {
	display: block;
	margin: 10px auto;
	text-align: center;
	font-weight: bold;
	color: #2E9BFF;
	font-size: 1.2em;
}
#rcm img {
	width: 100%;
	height: 100%;
}
#rcm button{
	width: 75px;
	height: 75px;
	border: 3px solid #2E9BFF;
	border-radius: 15px;
	padding: 5px;
	margin: 0 auto;
	display: block;
	cursor: pointer;
}